@import "_fontAndColor.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#closer {
    display: none;
}

header {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid $MainBlack;
    display: flex;
    justify-content: center;

    .burgerBox {
        display: none;
    }

    .logoBox {
        width: 16%;
        height: 100px;
        display: flex;
        justify-content: flex-start;
        align-content: center;

        a {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-content: center;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .navBox {
        width: 64%;

        nav {
            width: 100%;

            ul {
                display: flex;
                list-style: none;
                height: 100px;
                justify-content: flex-end;
                align-items: center;
                gap: 50px;

                li {
                    width: auto;

                    a {
                        text-decoration: none;
                        color: $MainBlack;
                        width: auto;

                        h2 {
                            font-family: $MainFont;
                            font-size: 30px;
                            font-weight: 400;
                            padding: 20px;
                        }

                        display: inline-block;
                        position: relative;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 80%;
                            height: 2px;
                            bottom: 15px;
                            left: 10%;
                            background-color: $MainBlack;
                            opacity: 0;
                            transition: opacity 0.25s, transform 0.25s;
                        }
                        &:hover::after, &:focus::after {
                            opacity: 1;
                            transform: translate3d(0, 5px, 0);
                        }
                    }

                    .dropdownContent {
                        position: absolute;
                        z-index: 1;
                        visibility: hidden;
                        opacity: 0;
                        top: 70px;
                        transition: visibility 0s, opacity 0.25s linear, transform 0.25s;

                        a {
                            font-family: $MainFont;
                            padding: 20px;
                            background-color: $MainWhite;
                            border: 2px solid $MainBlack;
                            color: $MainBlack;
                            overflow: hidden;

                            &::after {
                                content: " ";
                                opacity: 0;
                                overflow: hidden;
                                transform: scale(0);
                                transform-origin: left;
                            }
                            &:hover::after, &:focus::after {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                    }
                }
                .dropDown {
                    &:hover .dropdownContent {
                        visibility: visible;
                        opacity: 1;
                        transform: translate3d(0, 5px, 0)
                    }

                    a:after {
                        content: none;
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    height: 150px;

    .socialsFooter {
        width: 20%;
        margin-left: 10%;
        display: flex;
        align-items: center;
        gap: 40px;

        a {
            color: $MainBlack;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 700px) {
    header {
        .burgerBox {
            display: block;

            #myLinks {
                display: none;
                z-index: 1;
                position: absolute;
                border: 2px solid $MainBlack;
                right: 0;
                top: 90px;
                font-family: $MainFont;
                background: $MainWhite;
            }

            a {
                color: $MainBlack;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                display: block;
            }

            a.icon {
                background: $MainWhite;
                display: block;
                position: absolute;
                right: 0;
                top: 10px;
            }
        }

        .logoBox {
            width: auto;
        }

        .navBox {
            display: none;
        }
    }
}
