@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#closer {
  display: none;
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .burgerBox {
  display: none;
}

header .logoBox {
  width: 16%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .logoBox a {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

header .logoBox a img {
  width: 100%;
}

header .navBox {
  width: 64%;
}

header .navBox nav {
  width: 100%;
}

header .navBox nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  height: 100px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

header .navBox nav ul li {
  width: auto;
}

header .navBox nav ul li a {
  text-decoration: none;
  color: #000000;
  width: auto;
  display: inline-block;
  position: relative;
}

header .navBox nav ul li a h2 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
}

header .navBox nav ul li a:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 2px;
  bottom: 15px;
  left: 10%;
  background-color: #000000;
  opacity: 0;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, -webkit-transform 0.25s;
  transition: opacity 0.25s, transform 0.25s;
  transition: opacity 0.25s, transform 0.25s, -webkit-transform 0.25s;
}

header .navBox nav ul li a:hover::after, header .navBox nav ul li a:focus::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
}

header .navBox nav ul li .dropdownContent {
  position: absolute;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  top: 70px;
  -webkit-transition: visibility 0s, opacity 0.25s linear, -webkit-transform 0.25s;
  transition: visibility 0s, opacity 0.25s linear, -webkit-transform 0.25s;
  transition: visibility 0s, opacity 0.25s linear, transform 0.25s;
  transition: visibility 0s, opacity 0.25s linear, transform 0.25s, -webkit-transform 0.25s;
}

header .navBox nav ul li .dropdownContent a {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000000;
  color: #000000;
  overflow: hidden;
}

header .navBox nav ul li .dropdownContent a::after {
  content: " ";
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

header .navBox nav ul li .dropdownContent a:hover::after, header .navBox nav ul li .dropdownContent a:focus::after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .navBox nav ul .dropDown:hover .dropdownContent {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate3d(0, 5px, 0);
          transform: translate3d(0, 5px, 0);
}

header .navBox nav ul .dropDown a:after {
  content: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
}

footer .socialsFooter {
  width: 20%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

footer .socialsFooter a {
  color: #000000;
  text-decoration: none;
}

footer .showOff {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .showOff img {
  height: 100px;
}

@media screen and (max-width: 700px) {
  header .burgerBox {
    display: block;
  }
  header .burgerBox #myLinks {
    display: none;
    z-index: 1;
    position: absolute;
    border: 2px solid #000000;
    right: 0;
    top: 90px;
    font-family: "Roboto", sans-serif;
    background: #fff;
  }
  header .burgerBox a {
    color: #000000;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  header .burgerBox a.icon {
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 10px;
  }
  header .logoBox {
    width: auto;
  }
  header .navBox {
    display: none;
  }
  footer {
    height: 175px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .socialsFooter {
    margin-left: -10%;
  }
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
}

.topImg {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-bottom: 70px;
}

.borderbox {
  border: 10px solid #fff;
  height: 100px;
  width: 350px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 55px;
  color: #fff;
}

.outerboxevent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.eventbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  width: 900px;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  border-width: 1px;
}

.imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.imgbox img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  padding: 7px;
}

.midbox {
  width: 600px;
  height: 100px;
}

.midbox1 {
  font-size: 18px;
}

.midstreg {
  width: 300px;
  height: 1px;
  background-color: grey;
  border-radius: 25px;
  margin-bottom: 3px;
}

.midbox2 {
  font-size: 16px;
  padding-bottom: 5px;
}

.midbox3 {
  font-size: 14px;
}

.rightbox {
  width: 130px;
  height: 120px;
  padding: 20px 15px 20px 15px;
}

.rightboxtop {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
}

.rightboxbottom {
  width: 100px;
  height: 30px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .topImg {
    padding-bottom: 30px;
  }
  .eventbox {
    width: 650px;
    height: 170px;
  }
  .imgbox {
    width: 105px;
    height: 120px;
  }
  .imgbox img {
    height: 120px;
  }
  .midbox {
    width: 410px;
    height: 120px;
  }
  .rightbox {
    width: 130px;
    height: 120px;
  }
  .rightboxtop {
    width: 100px;
    height: 30px;
  }
  .rightboxbottom {
    width: 100px;
    height: 30px;
  }
}
/*# sourceMappingURL=eventkalenderStyle.css.map */