@import '_header.scss';
@import '_fontAndColor.scss';

body {
    background-color: $MainWhite;
    font-family: $MainFont;
}

.topImg {
    width: 100%;
    height: 500px;
    object-fit: cover;
    padding-bottom: 70px;
}

.borderbox {
    border: 10px solid $MainWhite;
    height: 100px;
    width: 350px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 55px;
    color: $MainWhite;
}

.outerboxevent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}

.eventbox {
    display: flex;
    align-items: center;
    background-color: $MainWhite;
    width: 900px;
    border-style: solid;
    border-color: $MainBlack;
    border-radius: 5px;
    border-width: 1px;

}

.imgbox {
    display: flex;
    width: 150px;
    height: 120px;
    align-items: center;
    justify-content: center;
    padding: 10px;

}

.imgbox img {
    display: flex;
    width:100%;
    height:100px;
    padding: 7px;
}

.midbox {
    width: 600px;
    height: 100px;
}

.midbox1 {
    font-size: 18px;
}

.midstreg {
    width: 300px;
    height: 1px;
    background-color: grey;
    border-radius: 25px;
    margin-bottom: 3px;
}

.midbox2 {
    font-size: 16px;
    padding-bottom: 5px;
}

.midbox3 {
    font-size: 14px;
}

.rightbox {
    width: 130px;
    height: 120px;
    padding: 20px 15px 20px 15px;

}

.rightboxtop {
    width: 100px;
    height: 30px;
    margin-bottom: 20px;
}

.rightboxbottom {
    width: 100px;
    height: 30px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 700px) {

    .topImg {
        padding-bottom: 30px;   
    }

    .eventbox {
        width: 650px;
        height: 170px;
    }
    
    .imgbox {
        width: 105px;
        height: 120px;    
    }
    
    .imgbox img {
        height:120px;
    }
    
    .midbox {
        width: 410px;
        height: 120px;
    }

    .rightbox {
        width: 130px;
        height: 120px;
    }
    
    .rightboxtop {
        width: 100px;
        height: 30px;
    }
    
    .rightboxbottom {
        width: 100px;
        height: 30px;
    }

} 

